
<div class='row col-md-12'>
  <div class='user-info col-md-4 col-md-offset-4'>
    <h1 id='welcome-user'>Welcome, <%= @user.username %>!</h1>
    <img class="user-profile-picture" src="<%= asset_path('karlaking.jpg') %>"/>
    <div class='username-email'>
      <p>username: <%= @user.username %></p>
      <p>email: <%= @user.email %></p>
    </div>
  </div>
</div>

<div class='container'>
  <div class='row col-md-12'>
    <h2> Your uploaded images:</h2>
  </div>

  <% @user.images.each do |image| %>
    <%= render partial: "images/show", layout: false, locals: {image: image} %>
  <% end %>

</div>
