<!-- Ignore this for now!! -->


<div id='banner-image'>
  <img id="user-profile-picture" src="<%= asset_path('banner_image') %>"/>
</div>
<div class='row col-md-12'>
  </div>
  <div class='col-md-2 col-md-offset-1' id='user-box'>
    <div>
      <img id="user-profile-picture" src="<%= asset_path('karlaking.jpg') %>"/>
    </div>
    <div id='user-info'>
      <p><span id='bold'>USER INFO:</span></p>
      <div id='username-email'>
        <p>username: <%= @user.username %></p>
        <p>email: <%= @user.email %></p>
      </div>
    </div>
    <div id='go-to-map'>
      <p>Go to the Map</p>
      <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    </div>
    <div id='new-upload'>
      <p>Upload new Map</p>
      <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
    </div>
  </div>

  <div class='col-md-9'>
    <div class='col-md-offset-1'>
      <h1 id='welcome-user'>Welcome, <%= @user.username %>!</h1>
    </div>
    <div class='uploaded-images'>
      <div class='col-md-offset-1'>
        <h1 class='headers'>Uploaded Images</h1>
      </div>
      <% @user.images.each do |image| %>
      <div class='individual-image col-md-12'>
        <h1 class='tileset-name col-md-offset-1'><%= image.tileset_name %></h1>
        <div class='col-md-3 col-md-offset-1'>
          <img class="image-map" src="<%= asset_path('map_vector_logo.png') %>"/>
        </div>

        <div class='col-md-4'>
          <p>Description: <%= image.description %></p>
        </div>

        <div class='image-details col-md-3'>
          <p class='bold'>Date taken</p>
          <p><%= image.date_taken %></p>
          <p class='bold'>Camera type</p>
          <p><%= image.camera_type %></p>
          <a href="<%= edit_image_path(image) %>">
            <span aria-hidden="true" class="glyphicon glyphicon-wrench"></span>
          </a>
          <%= link_to 'Delete item', image_path(image), method: :delete %>
            <span aria-hidden="true" class="glyphicon glyphicon-trash"></span>
          </a>          
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>



<div class='container'>
  <% if !@user.images.empty? %>
    <div class='row col-md-12'>
      <h2> UPLOADED IMAGES</h2>
    </div>
    <% @user.images.each do |image| %>
      <%= render partial: "images/show_images_per_user", layout: false, locals: {image: image} %>
    <% end %>
    <p> <%= link_to 'Upload another image', new_image_path %></p>
  <% else %>
    <div class='row col-md-12'>
      <h2> You don't have any images uploaded!</h2>
      <p> <%= link_to 'Why not add some images, hmm?', new_image_path %></p>
    </div>
  <% end %>
</div>

