<!-- Ignore this for now!! -->


<div class='row col-md-12'>

  <div class='col-md-2 col-md-offset-1' id='user-box'>
    <div>
      <img id="user-profile-picture" src="<%= asset_path('karlaking.jpg') %>"/>
    </div>
    <div id='user-info'>
      <p><span id='bold'>USER INFO:</span></p>
      <div id='username-email'>
        <p>username: <%= @user.username %></p>
        <p>email: <%= @user.email %></p>
      </div>
    </div>
  </div>

  <div class='col-md-9'>
    <div class='col-md-offset-1'>
      <h1 id='welcome-user'>Welcome, <%= @user.username %>!</h1>
    </div>
    <div class='uploaded-images'>
      <div class='col-md-offset-1'>
        <h1 class='headers'>Uploaded Images</h1>
      </div>
      <% @user.images.each do |image| %>
      <div class='individual-image col-md-12'>
        <h1 class='col-md-offset-1'><%= image.tileset_name %></h1>
        <div class='col-md-3 col-md-offset-1'>
          <img class="image-map" src="<%= asset_path('map_vector_logo.png') %>"/>
        </div>

        <div class='col-md-4'>
          <p>Description: <%= image.description %></p>
        </div>

        <div class='col-md-3'>
          <ul>
            <li>Date taken: <%= image.date_taken %></li>
            <li>Camera type: <%= image.camera_type %></li>
          </ul>
          <%= link_to 'Edit Image info', edit_image_path(image), :class => "btn btn-danger"  %>
          <br>
          <br>
          <%= link_to 'Delete item', image_path(image), method: :delete, :class => "btn btn-danger" %>
          <!--     <p>(Note: the above link will not actually delete the image from Mapbox, just from the display.)</p> -->
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>


<div class='container'>
  <% if !@user.images.empty? %>
    <div class='row col-md-12'>
      <h2> UPLOADED IMAGES</h2>
    </div>
    <% @user.images.each do |image| %>
      <%= render partial: "images/show_images_per_user", layout: false, locals: {image: image} %>
    <% end %>
    <p> <%= link_to 'Upload another image', new_image_path %></p>
  <% else %>
    <div class='row col-md-12'>
      <h2> You don't have any images uploaded!</h2>
      <p> <%= link_to 'Why not add some images, hmm?', new_image_path %></p>
    </div>
  <% end %>
</div>



<div class='row col-md-12'>
  <div class='user-info col-md-4 col-md-offset-4'>
    <h1 id='welcome-user'>Welcome, <%= @user.username %>!</h1>
    <img class="user-profile-picture" src="<%= asset_path('karlaking.jpg') %>"/>
    <div class='username-email'>
      <p>USER INFO:</p>
      <p>username: <%= @user.username %></p>
      <p>email: <%= @user.email %></p>
    </div>
  </div>
</div>